/* src/index.css  */
body {
  /* background: linear-gradient(120deg, #9fc3d3 0%, #e4e9e9 100%); */
  /* background: linear-gradient(120deg, #dfecf1 0%, #ffffff 100%); */
  margin: 0;
  padding: 0;
}

.pageTitle {
  margin: 70px auto 20px auto;
  font-weight: 700;
  font-size: 2rem;
  color: #37474f;
  text-align: center;
  width: fit-content;
}

/* Pentru desktop (>=900px) */
@media (min-width: 900px) {
  .pageTitle {
    margin: 30px auto 20px auto;
  }
}
